In [1]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [2]:
my_data=randn(4,3) #Rows,columns
my_rows=["A","B","C","D"]
my_columns=["Name","Surname","Adress"]

In [4]:
# створюємо DataFrame
my_df=pd.DataFrame(my_data,my_rows,my_columns)
my_df

       Name   Surname    Adress
A -0.488421  0.025979 -0.136097
B  0.033594  0.065303 -0.126115
C  0.456571  1.684511  1.032788
D  0.535315  1.526813  0.240656

In [7]:
my_df.loc["A"]#вИБИРАЄМО ПЕВНИЙ рядок

Name      -0.488421
Surname    0.025979
Adress    -0.136097
Name: A, dtype: float64

In [9]:
my_df["Name"].describe()

count    4.000000
mean     0.134265
std      0.469962
min     -0.488421
25%     -0.096909
50%      0.245083
75%      0.476257
max      0.535315
Name: Name, dtype: float64

In [10]:
my_df.columns

Index(['Name', 'Surname', 'Adress'], dtype='object')