In [25]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [12]:
my_df=pd.read_csv("Australian Vehicle Prices.csv")

In [8]:
my_df = my_df.dropna(axis=0)

In [5]:
my_df.describe()

               Year
count  16733.000000
mean    2016.229248
std        5.247705
min     1940.000000
25%     2013.000000
50%     2017.000000
75%     2020.000000
max     2023.000000

In [10]:
my_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14586 entries, 0 to 16733
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Brand              14586 non-null  object
 1   Year               14586 non-null  float64
 2   Model              14586 non-null  object
 3   Car/Suv            14586 non-null  object
 4   Title              14586 non-null  object
 5   UsedOrNew          14586 non-null  object
 6   Transmission       14586 non-null  object
 7   Engine             14586 non-null  object
 8   DriveType          14586 non-null  object
 9   FuelType           14586 non-null  object
 10  FuelConsumption    14586 non-null  object
 11  Kilometres         14586 non-null  object
 12  ColourExtInt       14586 non-null  object
 13  Location           14586 non-null  object
 14  CylindersinEngine  14586 non-null  object
 15  BodyType           14586 non-null  object
 16  Doors              14586 non-null  object
 17  Seats              14586 non-null  object
 18  Price              14586 non-null  object
dtypes: float64(1), object(18)
memory usage: 1.2+ MB

In [7]:
my_df.columns

Index(['Brand', 'Year', 'Model', 'Car/Suv', 'Title', 'UsedOrNew',
       'Transmission', 'Engine', 'DriveType', 'FuelType', 'FuelConsumption',
       'Kilometres', 'ColourExtInt', 'Location', 'CylindersinEngine',
       'BodyType', 'Doors', 'Seats', 'Price'],
      dtype='object')

In [14]:
y=my_df.Price

In [28]:
my_df_features=['Brand', 'Year', 'Model','UsedOrNew','Kilometres','Engine']

In [27]:
x=my_df[my_df_features]

<class 'TypeError'>: 'DecisionTreeRegressor' object is not subscriptable

In [17]:
x.describe

<bound method NDFrame.describe of                Brand    Year    Model UsedOrNew Kilometres        Engine
0          Ssangyong  2022.0   Rexton      DEMO       5595  4 cyl, 2.2 L
1                 MG  2022.0      MG3      USED         16  4 cyl, 1.5 L
2                BMW  2022.0     430I      USED       8472    4 cyl, 2 L
3      Mercedes-Benz  2011.0     E500      USED     136517  8 cyl, 5.5 L
4            Renault  2022.0   Arkana      USED       1035  4 cyl, 1.3 L
...              ...     ...      ...       ...        ...           ...
16729         Toyota  2014.0  Alphard      USED      66000             -
16730  Mercedes-Benz  2012.0  S-Class      USED     117432             -
16731         Suzuki  2022.0   Vitara      DEMO       5165  4 cyl, 1.6 L
16732  Mercedes-Benz  2016.0   GLC250      USED      85525    4 cyl, 2 L
16733  Mercedes-Benz  2021.0     C200      USED      31852    4 cyl, 2 L

[16734 rows x 6 columns]>

In [18]:
x.head()

           Brand    Year   Model UsedOrNew Kilometres        Engine
0      Ssangyong  2022.0  Rexton      DEMO       5595  4 cyl, 2.2 L
1             MG  2022.0     MG3      USED         16  4 cyl, 1.5 L
2            BMW  2022.0    430I      USED       8472    4 cyl, 2 L
3  Mercedes-Benz  2011.0    E500      USED     136517  8 cyl, 5.5 L
4        Renault  2022.0  Arkana      USED       1035  4 cyl, 1.3 L